SECRET_KEY=
ALLOWED_HOSTS=*
DEBUG=False
API_TOKEN=
ADMIN=
DOMAIN_URL=

DB_TYPE=postgres
DB_NAME=autores_db
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=db
DB_PORT=5432

POOL_MODE=
MAX_CLIENT_CONN=
DEFAULT_POOL_SIZE=
PGBOUNCER_HOST=
PGBOUNCER_PORT=

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=0

RABBITMQ_USER=guest
RABBITMQ_PASS=guest

CELERY_BROKER_URL=amqp://guest:guest@mq:5672/
CELERY_RESULT_BACKEND=redis://redis:6379/0


CACHE_URL=redis://redis:6379/2
TG_API_ID=
TG_API_HASH=
TG_SESSION_STRING=