{% extends "admin/change_list.html" %}
{% load i18n admin_urls static jazzmin %}

{% block result_list %}
    {{ block.super }}
    {% for object in cl.result_list %}
        <div class="modal fade" id="modal-{{ object.id }}" tabindex="-1" role="dialog" aria-labelledby="modalLabel-{{ object.id }}" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalLabel-{{ object.id }}">Форма для {{ object }}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Закрыть">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id="form-{{ object.id }}" action="{% url 'admin:yourmodel-custom-form' object.id %}" method="post">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button type="submit" class="btn btn-success">Сохранить</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

    <script src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
    <script>
        $(document).ready(function() {
            $('.modal form').on('submit', function(e) {
                e.preventDefault();
                var form = $(this);
                $.ajax({
                    url: form.attr('action'),
                    type: 'POST',
                    data: form.serialize(),
                    success: function(response) {
                        if (response.success) {
                            form.closest('.modal').modal('hide');
                            alert('Форма успешно сохранена!');
                            window.location.reload();
                        } else {
                            alert('Ошибка: ' + JSON.stringify(response.errors));
                        }
                    },
                    error: function() {
                        alert('Произошла ошибка при отправке формы.');
                    }
                });
            });
        });
    </script>
{% endblock %}